body{
    background-image: url(https://images.pexels.com/photos/242492/pexels-photo-242492.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
h3{
    
    word-wrap: break-word;
}

h1 {
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-size: 70px;
    word-wrap: break-word;
    color: white
}
heading {
    text-align: center;
    font-family: 'Allura';
    background-color: #222;
}
nav{
    text-align: center;
}