<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% if title %}

    <title> {{ title}}</title>

    {% else %}

    <title> News Headline </title>

    {% endif %}

</head>

<body style="background-color: rgb(0, 0, 0);">

    {% extends 'base.html' %}

    {% import 'macros.html' as macro %}

    <!-- Content Block-->
    {% block content%}
    <div class="container">
        <div class="jumbotron">

            <h3 class="text-center" style="background-color: #c2b280;"> <strong> Top News Headline </strong> </h3>

            {{ macro.dispalyNewsList(top) }}
        </div>

    </div>

   </div>



    {% endblock %}

</body>

</html>