{% macro dispalyNewsList(news_list) %}
{% for new in news_list %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="love">
    
    <div class="row featurette">
        
        <div class="col-md-7 order-md-2">
            
            <h2 class="featurette-heading">
                {{ new.title | truncate(50)}}
            </h2>
            
            <p class="lead"> {{ new.description }} </p>
            
            <a href="{{new.url}}" class="btn btn-secondary" target="_blank"> READ MORE &raquo;</a>
        
        </div>
        
        <div class="col-md-5 order-md-1">
            
            <img src="{{ new.urlToImage }}" width="450" height="400"
                class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        
            </div>
    
        </div>
    
        <hr class="featurette-divider">
</div>

{% endfor %}

{% endmacro %}