{% macro desplayNewsList(news_list) %}
{% for new in news_list %}
<div>
    <div class="col-md-4">
        <img src="{{ new.urlToImage }}" width="300" height="250"
            class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
    </div>
    <div class="col-md-3 card-deck"></div>
    <div class="col-md-6 card-deck">
        <h2 class="featurette-heading">
            {{ new.title | truncate(30)}}
        </h2>
        <p class="lead"> {{ new.description }} </p>
        <a href="{{new.url}}" class="btn btn-primary" target="_blank">Read more</a>
    </div>
</div>
<hr class="featurette-divider">

{% endfor %}
{% endmacro %}