{% extends 'base.html' %}
{% import 'macros.html' as macros.html %}

{% block content %}
<link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Title</h1>
        <p class="lead">Subtitle</p>
        <hr class="my-4">


        <h3 class="text-center"> Found {{ news | count }} matches </h3>
        <hr><br><br><br>

        {{ macro.desplayNewsList(news) }}

    </div>
</div>
{% endblock %}